.btn {
  border: none;
  margin: 20px;
  padding: 24px;
  width: 220px;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to left, #1ad4bd, #00c2e4, #1ad4bd);
  background-size: 300%;
  background-position: left;
  transition: all 2s;

  &:hover,
  &:focus {
    background-position: right;
    // box-shadow: -1px 14px 24px 0 rgba(0, 0, 0, 0.75);
  }
}
