.hero-common {
  height: 35vh;
  background-size: cover;
  background-position: top;

  .title {
    margin: auto;
    margin-top: 50px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
}

img {
  max-width: 100%;
}
